<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table Tennis Ranking</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon/favicon.ico') }}"
    />
    <script src="{{ url_for('static', filename='JS/Main.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='favicon/favicon.png') }}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container">
        <div class="d-flex align-items-center">
          {% if request.path != '/' and request.path != '/login' %}
          <button
            class="btn btn-secondary btn-sm me-2"
            onclick="history.back()"
            style="
              --bs-btn-padding-y: 0.25rem;
              --bs-btn-padding-x: 0.5rem;
              --bs-btn-font-size: 0.75rem;
            "
          >
            <span class="material-symbols-outlined">arrow_back</span>
          </button>
          {% else %}
          <div
            class="btn btn-secondary btn-sm me-2 invisible"
            style="
              --bs-btn-padding-y: 0.25rem;
              --bs-btn-padding-x: 0.5rem;
              --bs-btn-font-size: 0.75rem;
            "
          >
            <span class="material-symbols-outlined">arrow_back</span>
          </div>
          {% endif %}
          <a class="navbar-brand" href="{{ url_for('home') }}">TT Rankings</a>
          {% if session['permissionLevel'] == "trainer" %}
          <span class="badge text-bg-info fs-4">Trainer</span>
          {% endif %}
        </div>
        {% if session['authenticated'] == True %}
        <div class="navbar-nav d-flex flex-row">
          <a
            class="nav-link px-2 mx-1 bg-light-subtle text-light-emphasis rounded"
            href="{{ url_for('home') }}"
          >
            <span class="material-symbols-outlined">bar_chart</span>
          </a>
          {% if session['permissionLevel'] == "trainer" %}
          <a
            class="nav-link px-2 mx-1 bg-light-subtle text-light-emphasis rounded"
            href="{{ url_for('startListTrainer') }}"
          >
            <span class="material-symbols-outlined">add</span>
          </a>
          <a
            class="nav-link px-2 mx-1 bg-light-subtle text-light-emphasis rounded"
            href="{{ url_for('selectSettingsTrainer') }}"
          >
            <span class="material-symbols-outlined">settings</span>
          </a>
          {% endif %}
          <a
            class="nav-link px-2 mx-1 bg-light-subtle text-light-emphasis rounded"
            href="{{ url_for('logOut') }}"
          >
            <span class="material-symbols-outlined">logout</span>
          </a>
        </div>
        {% endif %}
      </div>
    </nav>

    <!-- Toast container for flash messages -->
    <div
      class="toast-container position-fixed mt-5 end-0 p-3"
      style="z-index: 1055"
    >
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="toast fs-5"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-autohide="true"
        data-bs-delay="2000"
        style="min-width: 350px"
      >
        <div class="toast-header py-3">
          <span
            class="material-symbols-outlined me-2 text-{% if category == 'error' %}danger{% elif category == 'success' %}success{% elif category == 'warning' %}warning{% else %}primary{% endif %}"
            style="font-size: 24px"
          >
            {% if category == 'error' %}error{% elif category == 'success'
            %}check_circle{% elif category == 'warning' %}warning{% else
            %}info{% endif %}
          </span>
          <strong class="me-auto fs-5">
            {% if category == 'error' %}Error{% elif category == 'success'
            %}Success{% elif category == 'warning' %}Warning{% else %}Info{%
            endif %}
          </strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body py-3 fs-6">{{ message }}</div>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    <div class="container-fluid mt-3">{% block content %}{% endblock %}</div>

    <!-- Initialize toasts -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var toastElList = [].slice.call(document.querySelectorAll(".toast"));
        var toastList = toastElList.map(function (toastEl) {
          return new bootstrap.Toast(toastEl);
        });
        toastList.forEach((toast) => toast.show());
      });
    </script>
  </body>
</html>
